@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/
li, a {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #f9faf8;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1f2937;
}

.logo {
    cursor: pointer;
    height: 50px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

/*Section 1*/
.content {
    background: #1f2937;
    display: flex;
    padding: 20px 10%;
}

.contentleft {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 10px
    
}

.contentright img {
    height: 200px;
    width: auto;
}

.contentleft button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

/*section 2 */
.content2 p, .content2 h2 {
    text-align: center;
}

.content2 h2 {
    padding: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images4 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
}
.images4 img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* section 3 */
.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

/* section 4 */
.followus {
    background-color: #3882F6;
    margin: 50px 300px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border-color: none;
}

.followtext {
    text-align: left;
    margin-right: auto;  /* Add this line */
}

.followtext p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.followbutton button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    margin-right: 200px;
}
